body {
	background-color: rgb(29, 54, 90);
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	font-size: .75em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	background-color: rgba(0, 0, 0, 0.3);
}

.logo {
	display: flex;
	color: goldenrod;
}

.logo img {
	width: 40px;
	height: 40px;
	margin: 5px 5px 0 5px;
}

h1 {
	margin: 10px 0 0 0;
	line-height: 1.5em;
}

h2 {
	margin: 0 0 0 50px;
	color: rgb(173, 132, 27);
}

form {
	margin: 0 auto 0 auto;
	max-width: 19em;
	background: linear-gradient(150deg, rgba(255, 255, 255, 0.3), rgb(173, 132, 27, .3), rgba(0, 0, 0, 0.3));
	border-radius: 5px;
	color: white;
	box-shadow: 0px 5px 30px black;
}

fieldset {
	position: relative;
}

#help {
	position: absolute;
	top: 7px;
	left: 282px;
	z-index: 99;
}

fieldset,
legend {
	border: none;
	margin: 0;
	padding: .5em 0;
	text-align: center;
}

#help:hover + video {
	visibility: visible;
	box-shadow: 0px 0px 100px black;
}

#help:hover {
	color: goldenrod;
}

.inputFields {
	padding: 0;
}

.grouping {
	text-align: center;
	margin: 1em;
	position: relative;
	box-sizing: border-box;
}

label {
	display: none;
	position: relative;
}

input:not([type="checkbox"]) {
	border: 0;
	width: 100%;
	margin: .25em 0;
	background-color: rgb(228, 228, 228);
	border-radius: 5px;
	height: 1em;
	padding: 1.5em;
	box-sizing: border-box;
}

input:invalid {
	color: red;
	font-weight: bold;
}

input:valid {
	border: 2px solid rgb(65, 199, 3);
}

#error_msg {
	color: orangered;
	margin: .75em 2.75em;
	text-align: left;
}

button {
	background-color: grey;
	height: 2em;
	width: 80%;
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 1em;
	margin-bottom: 1em;
}

video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	border-radius: 5px;
	visibility: hidden;
	z-index: 1;
}

label[for="firstName"]::before,
label[for="lastName"]::before {
	content: '\f007';
	font-family: "FontAwesome";
	position: absolute;
	top: 35px;
	left: 322px;
	color: gray;
}

label[for="email1"]::before,
label[for="email2"]::before {
	content: '\f1fa';
	font-family: "FontAwesome";
	position: absolute;
	top: 35px;
	left: 322px;
	color: gray;
}

label[for="pass1"]::before,
label[for="pass2"]::before {
	content: '\f084';
	font-family: "FontAwesome";
	position: absolute;
	top: 35px;
	left: 322px;
	color: gray;
}

@media only screen and (min-width: 600px) {
	header {
		font-size: 1em;
	}

	.logo img {
		width: 50px;
		height: 50px;
	}

	h2 {
		margin: 0 0 0 63px;
	}

	form {
		max-width: 25em;
	}

	legend {
		font-size: 1.5em;
	}

	label {
		display: block;
		text-align: left;
		margin-left: .75em;
		margin-top: .5em;
		margin-bottom: .2em;
		font-size: 1em;
	}

	input:not([type="checkbox"]),
	button {
		width: 350px;
		height: 40px;
	}

	input::placeholder {
		visibility: hidden;
	}

	#help {
		top: 15px;
		left: 360px;
		font-size: 1.5em;
	}

	video {
		width: 400px;
	}

	.terms {
		margin: 2em;
	}

	.terms input {
		width: 20px;
		height: 20px;
	}

	.terms span {
		font-size: 1.25em;
	}
}
